@import "_color-definitions";


$color-primary: $palette-blue-500;
$color-accent-turing: $palette-amber-500;

$color-primary-turing: #2196F3;
$color-accent-turing: #FFC107;

@import 'material-design-lite';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 24px;
}

//

header {
  background: $color-primary-turing;
  color: white;
  padding: 20px;
  width: 100%;
}

.tape-container {
  position: relative;
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  margin-top: 30px;
}

.tape {
  margin-top: 1px;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  white-space: nowrap;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.cell-holder {
  position: absolute;
  padding: 20px 20px;
  height: 29px;
  width: 29px;
  border: 7px solid $color-primary-turing;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.state-holder {
  position: absolute;
  padding-top: 20px;
  min-height: 50px;
  min-width: 69px;
  border: 7px solid $color-primary-turing;
  background: $color-primary-turing;
  font-weight: 700;
  color: $color-accent-turing;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  z-index: 10;
}

.cell {
  display: inline-block;
  color: #aaa;
  background: #f5f5f5;
  font-weight: 700;
  padding: 20px;
  margin: 1px;
  text-align: center;
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.16);
}

.active {
  transition: all;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  background: $color-accent-turing;
  color: white;
}

.actions {
  text-align: center;
}

.instruction-list {
  min-height: 300px;
  margin: 20px;
}

h4 {
  color: #777;
}

.instruction-table {
  table-layout: fixed;
  border-collapse: collapse;

  font-size: 14px;
  background: #fff;
  width: 80%;
  border-collapse: collapse;
  text-align: left;
  margin: 0 auto;
}

.instruction-table thead tr {
  display: block;
  position: relative;
}

.instruction-table th, .instruction-table td {
  width: 200px;
}

.instruction-table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.instruction-table th {
  font-size: 16px;
  font-weight: normal;
  color: $color-primary-turing;
  border-bottom: 2px solid $color-primary-turing;
  padding: 10px 8px 16px 8px;
  text-align: center;
}

.instruction-table th.condition {
  background: $color-primary-turing;
  color: white;
}

.instruction-table td.condition {
  background: #f5f5f5;
  border-bottom: 1px solid white;
}

.instruction-table td {
  border-bottom: 1px solid #eee;
  color: #669;
  padding: 6px 8px;
  text-align: center;
}

.instruction-table tbody tr:hover td {
  color: $color-accent-turing;
}

.instruction-table tbody tr:hover td.condition {
  background: $color-accent-turing;
  color: white;
}
 button {
   padding: 10px;
   width: 200px;
   background: $color-accent-turing;
   color: white;
   font-size: 14px;
 }
