{{turing-tape cells=cells tapePosition=tapePosition state=currentState}}

<div class="actions">  
  <button type="button" name="button" {{action "down"}}>LEFT</button>
  <button type="button" name="button" {{action "up"}}>RIGHT</button>
</div>
